#! /usr/bin/env bash

# !!! -------------------------------------- !!!
# !!! DO NOT MAKE LOCAL CHANGES TO THIS FILE !!!
# !!! -------------------------------------- !!!
# Vars in this file can be overridden by exporting them in .envrc.local

# -----------------
# DATABASE SETTINGS
# -----------------
export DB_NAME='dev_db'
export DB_PASSWORD='dreampony'
export DB_PORT=5433
export DB_HOST='localhost'

# ---------------
# LOCAL OVERRIDES
# ---------------
# Load a local overrides file. Any changes you want to make for your local environment should live in that file.
# These values will override the values set in this file AND the ones loaded from chamber.
if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
